@model Punch

<div id="overlay" class="h-full w-full fixed top-0 right-0 bg-black opacity-50 z-0" style="display:none"></div>
<div 
    id="hidden-@Model.Id" 
    class="fixed bg-slate-900 rounded-lg shadow-lg top-50 right-50 flex gap-4 flex-col align-center justify-center p-10 z-99"
    style="display:none">
    <form 
        action="" 
        class="flex flex-col gap-2 text-slate-400">
        <div class="flex flex-col gap-1">
            <label>Time In</label>
            <input 
                name="TimeIn" 
                type="datetime-local"
                value="@Model.TimeIn"
                class="rounded bg-slate-800 px-2" />
        </div>
        <div class="flex flex-col gap-1">
            <label>Time Out</label>
            <input 
                name="TimeOut" 
                type="datetime-local"
                value="@Model.TimeOut"
                class="rounded bg-slate-800 px-2" />
        </div>
    </form>
    <button 
        onclick="viewPunch(@Model.Id)"
        class="font-bold text-center uppercase rounded-lg bg-indigo-600 text-slate-50 px-1 py-1 hover:bg-indigo-500 hover:cursor-pointer">
        Back
    </button>
</div>

<div class="rounded-t-lg shadow-lg text-slate-300 pt-4 bg-gradient-to-r from-purple-800 to-indigo-700 w-[200px] min-h-[250px]">
    <div class="flex flex-col justify-between gap-2 bg-slate-900 rounded-t-lg h-full shadow pt-2 pb-5 px-5">
        <h1 class="text-center text-xl text-gray-500">
            @Model.TimeIn.ToLocalTime().ToString("MMMM dd, yyyy")
        </h1>
        <div class="flex gap-2 justify-between items-center">
            <h2 
                class="text-lg capitalize font-bold">
                Time in:
            </h2>
            <p>@Model.TimeIn.ToLocalTime().ToString("h:mm tt")</p>
        </div>
        <div class="flex gap-2 justify-between items-center">
            <h2
                class="text-lg capitalize font-bold">
                Time out:
            </h2>
            <p>@Model.TimeOut?.ToLocalTime().ToString("h:mm tt")</p>
        </div>
    </div>
</div>

<style>
    .edit-punch-form::before {
        content: "";
        display: fixed;
        top:0;
        right:0;
        height: 100vh;
        width: 100vw;
        background-color: black;
        z-index: 0;
    }
</style>
